<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Test</title>
    <link rel="stylesheet" href="./static/style.css">
    <script src=".{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <h1>Flask test</h1>
    <h3>App Info:</h3>
    <ul>
        <li>Nombre: <strong id="name"></strong></li>
        <li>Fecha: <strong id="date"></strong></li>
    </ul>
    <br>
    <h3>Server Info:</h3>
    <ul>
        <li>Arquitectura: <strong id="arquitectura"></strong></li>
        <li>Nucleos: <strong id="cpu_cores"></strong></li>
        <li>Nombre Maquina: <strong id="nombre_maquina"></strong></li>
        <li>Procesador: <strong id="procesador"></strong></li>
        <li>OS: <strong id="sistema_operativo"></strong></li>
        <li>Version: <strong id="version_os"></strong></li>
    </ul>
</body>

</html>